@font-face {
  font-family: "ProximaNova";
  src: url("../fonts/ProximaNova.ttf"); }
@font-face {
  font-family: "ProximaNovaBold";
  src: url("../fonts/ProximaNovaBold.otf"); }
h1 {
  color: red;
  font: 100% "ProximaNova"; }

a {
  text-decoration: none !important; }

p {
  font: 100% "ProximaNova"; }

h5 {
  font: 100% "ProximaNova";
  font-size: 1.15rem;
  margin-bottom: 0 !important; }

h2,
h4 {
  font: 100% "ProximaNovaBold";
  font-weight: bold;
  color: #444444; }
  @media only screen and (max-width: 767px) {
    h2,
    h4 {
      font-size: 1.6rem !important; } }

@media only screen and (max-width: 767px) {
  .button-adapt {
    padding-top: 50px;
    margin-right: 13px; } }

@media only screen and (max-width: 767px) {
  .button-adapt2 {
    padding-top: 50px;
    margin-right: 13px; } }

@media only screen and (max-width: 767px) {
  .button-adapt3 {
    padding-top: 50px;
    margin-right: 13px; } }

@media only screen and (max-width: 767px) {
  .slider-adapt {
    padding-top: 40px !important; } }

.add-email {
  font: 100% "ProximaNova";
  font-weight: bold;
  color: #808080; }
  @media only screen and (min-width: 768px) and (max-width: 1203px) {
    .add-email {
      margin-bottom: 0px; } }

.soc {
  color: #009bd8 !important; }

.soc:hover {
  opacity: 0.7; }

@media only screen and (min-width: 768px) and (max-width: 1203px) {
  .soc-table {
    padding-left: 16px; } }

@media only screen and (max-width: 767px) {
  .hr-mob {
    width: 43% !important; } }

@media only screen and (max-width: 767px) {
  .hr-mob2 {
    padding-right: 0 !important; } }

.line {
  text-align: left;
  margin-left: 0;
  width: 100px;
  color: #E4E9FF;
  background-color: #E4E9FF;
  display: inline-block;
  border: none;
  height: 2px;
  vertical-align: middle; }

@media only screen and (min-width: 768px) and (max-width: 1203px) {
  .table-map {
    -ms-flex: 0 0 50% !important;
    flex: 0 0 50% !important;
    max-width: 50% !important; } }

#line {
  padding-top: 70px; }

.line-text {
  color: #0189BF;
  font: 100% "ProximaNova";
  display: inline-block;
  font-weight: bold;
  font-size: 90%;
  padding-left: 7px; }

.map {
  height: 820px; }

.row {
  padding-top: 17px; }

.slider {
  padding-top: 80px; }

.pic-darken {
  display: block; }

.on-hover {
  overflow: hidden; }

.on-hover:hover .pic-darken {
  overflow: hidden;
  -webkit-transform: scale(1.04);
  -moz-transform: scale(1.04);
  -o-transform: scale(1.04);
  -moz-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  -webkit-transition: all 1s ease-out; }
.on-hover:hover .pic-darken2 {
  overflow: hidden;
  -webkit-transform: scale(1.04);
  -moz-transform: scale(1.04);
  -o-transform: scale(1.04);
  -moz-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  -webkit-transition: all 1s ease-out; }

.pic-darken2 {
  opacity: 0.4;
  background-color: black;
  position: relative;
  top: -317.5px; }
  @media only screen and (max-width: 767px) {
    .pic-darken2 {
      opacity: 0; } }
  @media only screen and (min-width: 768px) and (max-width: 1203px) {
    .pic-darken2 {
      top: -271.5px; } }

@media only screen and (min-width: 768px) and (max-width: 1203px) {
  .table-list {
    -ms-flex: 0 0 83.333333% !important;
    flex: 0 0 83.333333% !important;
    max-width: 83.333333% !important; } }

@media only screen and (max-width: 767px) {
  .cool {
    padding-right: 15px !important; } }

.news-pics {
  padding-top: 60px; }
  @media only screen and (max-width: 767px) {
    .news-pics {
      padding-top: 30px;
      height: auto !important; } }

.news-text {
  position: absolute;
  display: block;
  left: 25px;
  bottom: 13%;
  color: white;
  font: 100% "ProximaNova"; }

.footer-text {
  padding-left: 20px; }
  @media only screen and (max-width: 767px) {
    .footer-text {
      padding-left: 0px; } }
  @media only screen and (min-width: 768px) and (max-width: 1203px) {
    .footer-text {
      padding-left: 28px; } }

@media only screen and (max-width: 767px) {
  .footer-list-adaptive {
    display: grid !important;
    padding-left: 15px !important; } }

@media only screen and (max-width: 767px) {
  .foot-num {
    display: grid; } }

.company-logo {
  margin-left: 87px; }
  @media only screen and (max-width: 767px) {
    .company-logo {
      margin-left: 46px; } }

.company-logo:hover {
  opacity: 0.8; }

@media only screen and (max-width: 767px) {
  .list-adapt {
    display: none; } }

.after-text {
  padding-top: 53px; }
  @media only screen and (max-width: 767px) {
    .after-text {
      padding-top: 5px; } }

.btn {
  border-radius: 0 !important;
  font: 100% "ProximaNova";
  font-weight: 600 !important; }

.btn:hover,
.btn:focus,
.btn:active,
.btn:active:focus,
.btn:active,
.btn.active {
  background-color: #E4E9FF !important;
  border-color: #E4E9FF !important; }

.btn-outline-primary {
  color: #0189BF !important;
  border-color: #E4E9FF !important; }

@media only screen and (min-width: 768px) and (max-width: 1203px) {
  .tablet-num {
    -ms-flex: 0 0 33.333333% !important;
    flex: 0 0 33.333333% !important;
    max-width: 33.333333% !important;
    margin-left: 18px; } }

.add-button {
  position: absolute;
  bottom: 9px;
  right: 0px; }

@media only screen and (max-width: 767px) {
  .over {
    overflow: hidden; } }

#map {
  background-color: #F2F5FD; }

.clients {
  background-color: #ffffff;
  height: 450px; }

.news {
  height: 675px; }
  @media only screen and (max-width: 767px) {
    .news {
      height: auto; } }

@media only screen and (max-width: 767px) {
  .foot-img-adapt {
    padding-left: 15px !important;
    width: 250px !important; } }

@media only screen and (max-width: 767px) {
  .text-foot {
    padding-left: 15px;
    float: left !important; } }

.footer {
  background-color: #F2F5FD; }

#footer {
  background-color: #F2F5FD; }

button.active.focus,
button.active:focus,
button.focus,
button:active.focus,
button:active:focus,
button:focus,
.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
  outline: 0px solid #0189BF !important;
  box-shadow: 0 0 6px !important; }

.footer-button {
  color: #808080; }

.footer-button:hover {
  color: #0189BF; }

/*# sourceMappingURL=style.css.map */
